head{
    background-color: aqua;
}

body{
    background-color: gray;
}

.btn{
    background-color: black;
    color:blueviolet;
}

.btn:hover{
    background-color: gray;
}

.center{
    text-align: center;
}

.entry{
    background-color: purple;
    background-image: url("");
    padding: 20%;
}

.page1{
    position: relative;
    background-color: black; 
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    padding: 0%;
}

.expandingButtonGame{
    position:absolute;
    border: 0ch;
    background-image: url(https://img.icons8.com/nolan/64/games-folder.png);
    background-size: 100%;
    background-color: transparent;
    top: 15.2%;
    right: 63.9%;
    height: 2.7%;
    width: 1.6%;
}

.expandingButtonGame:hover{
    top: 13.1%;
    right: 62.7%;
    background-image: url(https://img.icons8.com/nolan/64/games-folder.png), url(https://images.pond5.com/simple-dark-purple-square-check-footage-153413204_iconl.jpeg);
    background-size: 100%;
    height: 6.7%;
    width: 4.2%;
}
